[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh/custom/plugins/zsh-autocomplete"]
	path = oh-my-zsh/custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete