/* Catppuccin Mocha */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
 font-family: JetBrainsMono Nerd Font;
 transition-duration: 200ms;
 transition-timing-function: ease-in-out;
 font-size: 14px;
}

window#waybar {
 background-color: transparent;
 color: @text;
}

window#waybar.hidden {
 opacity: 0.2;
}

window#waybar.termite {
 background-color: #3f3f3f;
}

window#waybar.chromium {
 background-color: #000000;
 border: none;
}

button {
 /* Use box-shadow instead of border so the text isn't offset */
 box-shadow: inset 0 -3px transparent;
 border: none;
 border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button:hover {
 background: @surface0;
 border: @surface0;
}

#workspaces button {
 padding: 0 8px;
 color: @text;
 border-radius: 15px;
 margin: 5px 2px;
}

#workspaces button.selected {
 background-color: @text;
}

#workspaces button.active {
 background-color: @surface0;
 padding: 0 16px;
}

#workspaces button.urgent {
 background-color: @red;
 color: @crust;
}

#window,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#load,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#custom-power,
#custom-updates,
#custom-media,
#custom-nvidia,
#tray,
#workspaces {
 padding: 0 12px;
 background-color: @base;
 color: @crust;
 border-radius: 15px;
 margin: 5px 0;
}

#workspaces {
 padding: 0 5px;
 margin: 5px 2px;
}

#clock,
#custom-media,
#window {
 color: @text;
}

#custom-updates {
 color: @red;
}

#disk {
 color: @peach;
}

#memory {
 color: @maroon;
}

#temperature {
 color: @mauve;
}

#load {
 color: @sapphire;
}

#pulseaudio {
 color: @yellow;
}

#pulseaudio.muted {
 color: @overlay1;
}

#network {
 color: @green;
}

#bluetooth {
 color: @teal;
}

#network.disconnected {
 color: @overlay1;
}

#battery {
 color: @blue;
}

#battery.warning:not(.charging) {
 background-color: @red;
 color: @crust;
}

#custom-power {
 color: @mauve;
}

#custom-nvidia {
 color: @rosewater;
}

